.container_input {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}
input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  border-radius: 2rem;
  box-shadow: #5e5df0 0 10px 20px -10px;
  transition: 0.3s ease;
  &:focus {
    background: #f2f2f2;
    border: 1px solid #5a7ec7;
    border-radius: 10px;
  }
  &:placeholder {
    color: #dddddd;
  }
}
